body{
    background-image: url("binding_dark.png");
    $primary-color: #5B769F;
    .main{
        font-family: "Times New Roman";
        font-size: 1.2vw;
        div{
            margin-top: 20px;
        }
        .mainTable{
            color: $primary-color;
            margin-left:auto; 
            margin-right:auto;
            tr, td{
                padding: 3px;
                text-align: left;
            }
        }
        .detailInfo{
            display: none;
            .detailTable{
                @extend .mainTable;
                tr, td{
                    padding: 3px;
                    text-align: left;
                }
            }
        }
        .button{
            text-align:center;
            font-size: 2vw;
        }
        .counter{
            @extend .button;
            margin: auto;
            color: #ffffff;
        }
        .left{
            width: 20%;
            font-size: 2vw;
        }
        .right{
            @extend .left;
        }
        .detailsButton{
            font-size: 1.2vw;
        }
    }
}