body {
  background-image: url("binding_dark.png"); }
  body .main {
    font-family: "Times New Roman";
    font-size: 1.2vw; }
    body .main div {
      margin-top: 20px; }
    body .main .mainTable, body .main .detailInfo .detailTable {
      color: #5B769F;
      margin-left: auto;
      margin-right: auto; }
      body .main .mainTable tr, body .main .detailInfo .detailTable tr, body .main .mainTable td, body .main .detailInfo .detailTable td {
        padding: 3px;
        text-align: left; }
    body .main .detailInfo {
      display: none; }
      body .main .detailInfo .detailTable tr, body .main .detailInfo .detailTable td {
        padding: 3px;
        text-align: left; }
    body .main .button, body .main .counter {
      text-align: center;
      font-size: 2vw; }
    body .main .counter {
      margin: auto;
      color: #ffffff; }
    body .main .left, body .main .right {
      width: 20%;
      font-size: 2vw; }
    body .main .detailsButton {
      font-size: 1.2vw; }

/*# sourceMappingURL=style.css.map */
